.layout {
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex: 1;
  font-family: 'Roobert';
  padding: 35px 48px;
}

.layout .title{
  font-size: 38px;
  font-weight: bold;
  margin-top: 0px;
}

.modules-container{
  display: flex;
  justify-content: space-between;
}

button.button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  background-color: #4E4E4E;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  height: 55px;
  width: 255px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

button.button.bordered {
  border-color: #cec9d4;
}

button.button.hoverable:hover {
  border-color: #cec9d4;
}

@media all and (max-width: 30em) {
  a.button {
    display: block;
    margin: 0.2em auto;
  }
}

.button.top-button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.button.center-button {
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 0;
}

.button.bottom-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.delay-button {
  width: 60px !important;
  height: 60px !important;
  border-radius: 100px !important;
  font-size: 30px !important;
  padding: 0 !important;
  margin-top: 50px !important;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.column.centered {
  align-self: center;
  justify-self: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}

.switch {
  justify-self: flex-end;
}

.select {
  width: 100px !important;
}

h1 {
  color: #f9f5ff;
  font-size: 35px !important;
  font-weight: 500;
}

h2 {
  color: #e8e5ec;
  font-size: 18px !important;
  font-weight: 400;
  margin-top: 0;
}

hr {
  margin-right: 20px;
  margin-left: 20px;
}
