body{
    margin: 0px;
    background-color: transparent;
    overflow: hidden;
}

.container{
    background-color: #292929;
    border-radius: 50%;
    display: grid;
    transition: transform 200ms ease-in-out;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;
    max-width: 150px;
    max-height: 150px;
    user-select: none;
    @media screen and (max-width: 60em) {
        grid-template-rows: repeat(4, 1fr);
    }
}

.container:hover{
    transform: rotate(90deg);
}

.grid-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 60em) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 1;
    }
}
  
.grid-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
    @media screen and (max-width: 60em) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 2;
    }
}
  
.grid-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    @media screen and (max-width: 60em) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 3;
    }
}

.grid-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
    @media screen and (max-width: 60em) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 4;
    }
}

#gear{
    margin-left: 18px;
    margin-top: 27px;
    -webkit-user-drag: none;
    cursor: pointer;
}

#mouse{
    margin-top: 22px;
    margin-left: 15px;
    -webkit-user-drag: none;
}